@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
  font-size: 15px;
  font-family: 'Big Shoulders Display', cursive;
  color: white;
}

body {
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
  }

.container {
  background-color: hsl(0, 0%, 95%);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  margin-top: 8rem;
  margin-left: 17rem;
  padding: 0rem;
  padding-top: 0rem;
  height:20rem;
  width: 60rem;
}

.container .sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  height: 22rem;
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
}

.container .suvs {
  background-color: hsl(184, 100%, 22%);
  height: 22rem;
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
}

.container .luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  height: 22rem;
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Big Shoulders Display',sans-serif;
  font-size: 30px;
  text-align: auto;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Decad',sans-serif;
  text-align: left;
}

.sedans button {
  color: hsl(31, 77%, 52%);
  background-color: white;
  border-radius: 5rem;
  height: 1.7rem;
  width: 7rem;
  border: 0rem;
  font-size: 13px;
  text-align: center;
  margin-top: 7rem;
}

.suvs button {
  color: hsl(184, 100%, 22%);
  background-color: white;
  border-radius: 5rem;
  height: 1.7rem;
  width: 7rem;
  border: 0rem;
  font-size: 13px;
  text-align: center;
  margin-top: 7rem;
}

.luxury button {
  color: hsl(179, 100%, 13%);
  background-color: white;
  border-radius: 5rem;
  height: 1.7rem;
  width: 7rem;
  border: 0rem;
  font-size: 13px;
  text-align: center;
  margin-top: 7rem;
}

img {
  height: 2rem;
  width: 3rem
}
